# Cache
__pycache__/

# Keys/Certs/Sessions/Storages and similar
*.pem
*.session
*.rdb
*.exe

# Environments
.env
*env/
*venv/
*ENV/
*VENV/

# IDE
.idea/

# Other
redisdata/
pgdata/
pyrightconfig.json

